@using FormGenerator.Models;

@model IndexViewModel

<div>
	<form action="~/Home/Display">
		<fieldset>
			<legend>Create A Form</legend>

			<div>	
				@Html.LabelFor(m => m.FormName)
				@Html.EditorFor(m => m.FormName)
			</div>

			<div>
				@Html.LabelFor(m => m.NumberOfPanels)
				@Html.EditorFor(m => m.NumberOfPanels)
			</div>

			<button>Submit</button>
		</fieldset>
	</form>
</div>